<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>RFTG</string>
    <key>CFBundleGetInfoString</key>
    <string>0.9.4, Copyright 2010-2014 Keldon Jones</string>
    <key>CFBundleIconFile</key>
    <string>rftg.icns</string>
    <key>CFBundleIdentifier</key>
    <string>net.keldon.rftg</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Race for the Galaxy</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.9.4</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>0.9.4</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2010-2014 Keldon Jones, GNU General Public License.</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.4</string>
</dict>
</plist>
